########################
# Import bazelrc presets
########################

# currenty issues in some auto-settings:
# import %workspace%/tools/preset.bazelrc

########################
# Bazel build options
########################

common --nobuild_runfile_links
common --enable_platform_specific_config
common --noexperimental_check_external_repository_files
common --experimental_fetch_all_coverage_outputs
common --heap_dump_on_oom
common --incompatible_strict_action_env
common --reuse_sandbox_directories
common --show_result=20
common --test_output="errors"

########################
# Java configuration
########################

build --java_language_version=21
build --java_runtime_version=remotejdk_21
build --tool_java_language_version=21
build --tool_java_runtime_version=remotejdk_21